.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
}

.grid-cell {
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    border: 1px solid #7f7f7f;
    transition: background-color 0.2s ease;
}

.grid-cell-hoverable:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.grid-cell-noaction:hover {
    cursor: not-allowed;
}
