#header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    color: var(--yellow);
    font-weight: bold;
    text-align: left;
}
