#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    color: var(--yellow);
    font-weight: bold;
    text-align: left;
    padding: 10px 30px 10px 30px;
    width: calc(100% - 60px);
    gap: 15px;
}
